:where(.btn) {
  /* Styling */
  @apply px-[1em] py-[0.4em] border-3 border-transparent rounded-lg flex items-center justify-center gap-2
     text-white shadow-md shadow-black/40 cursor-pointer overflow-clip;

  /* Layout */
  @apply relative;

  /* Transition properties */
  transition: border-color var(--transition-speed-fast) ease-out,
    scale 0.05s ease-out, box-shadow 0.1s ease-out,
    background-color var(--transition-speed-fast) ease-out;
  transform-origin: center center;

  /* Other */
  outline-offset: 2px;

  /* This is the glow on the top left */
  &::before {
    content: "";
    transition: border-color var(--transition-speed-fast) ease-out;
    @apply absolute top-1 left-1 h-1/3 w-1/4 rounded-tl-xl border-t-3 border-l-3 max-h-6 max-w-12;
  }

  /* Removing default focus outline */
  &:focus-visible {
    outline: 0;
  }

  /* Click effect */
  /* Excludes the kbd class */
  &:active:not(.kbd) {
    scale: var(--btn-scale-down-onclick);
    @apply shadow-none;
  }

  /* Disabled state */
  &[disabled] {
    @apply opacity-60 cursor-not-allowed shadow-none;

    /* Removing the glow on the top left */
    &::before {
      content: "";
      @apply border-0;
    }

    /* Click transition removal */
    &:active {
      scale: 1;
    }
  }
}

:where(.btn-square) {
  @apply aspect-square p-0 w-12 h-12;
}

:where(.btn-circle) {
  @apply aspect-square p-0 w-12 h-12 rounded-full;

  &::before {
    @apply absolute top-1.5 left-1.5 h-1/4 w-1/4;
  }
}

:where(.btn-neutral) {
  border-color: color-mix(in hsl, var(--color-neutral), black 15%);
  background-color: var(--color-neutral);
  color: var(--color-neutral-content);

  /* Glow on the top left of the button */
  &::before {
    border-color: hsla(0, 0%, 100%, 0.2);
  }

  /* On focus */
  &:focus-visible {
    outline: 2px solid var(--color-neutral);
  }

  /* Settings for the outline version */
  &.btn-outline {
    background-color: color-mix(in hsl, var(--color-neutral), transparent 85%);
    border-color: var(--color-neutral);

    &::before {
      border-color: color-mix(in hsl, var(--color-neutral), transparent 20%);
    }

    &:focus-visible {
      background-color: var(--color-neutral);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.2);
      }
    }
  }
}

:where(.btn-primary) {
  border-color: color-mix(in hsl, var(--color-primary), black 15%);
  background-color: var(--color-primary);
  color: var(--color-primary-content);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.3);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }

  &.btn-outline {
    background-color: color-mix(in hsl, var(--color-primary), transparent 85%);
    border-color: var(--color-primary);
    &::before {
      border-color: color-mix(in hsl, var(--color-primary), transparent 50%);
    }
    &:focus-visible {
      background-color: var(--color-primary);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}

:where(.btn-secondary) {
  border-color: color-mix(in hsl, var(--color-secondary), black 15%);
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.3);
  }

  &:focus-visible {
    outline: 2px solid var(--color-secondary);
  }

  &.btn-outline {
    background-color: color-mix(
      in hsl,
      var(--color-secondary),
      transparent 85%
    );
    border-color: var(--color-secondary);
    &::before {
      border-color: color-mix(in hsl, var(--color-secondary), transparent 50%);
    }
    &:focus-visible {
      background-color: var(--color-secondary);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}

:where(.btn-accent) {
  border-color: color-mix(in hsl, var(--color-accent), black 15%);
  background-color: var(--color-accent);
  color: var(--color-accent-content);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.5);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  &.btn-outline {
    background-color: color-mix(in hsl, var(--color-accent), transparent 85%);
    color: var(--color-accent);
    border-color: var(--color-accent);
    &::before {
      border-color: color-mix(in hsl, var(--color-accent), transparent 50%);
    }
    &:focus-visible {
      background-color: var(--color-accent);
      color: var(--color-accent-content);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.5);
      }
    }
  }
}

:where(.btn-info) {
  border-color: color-mix(in hsl, var(--color-info), black 15%);
  background-color: var(--color-info);
  color: var(--color-info-content);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.5);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info);
  }

  &.btn-outline {
    background-color: color-mix(in hsl, var(--color-info), transparent 85%);
    color: var(--color-info);
    border-color: var(--color-info);
    &::before {
      border-color: color-mix(in hsl, var(--color-info), transparent 50%);
    }
    &:focus-visible {
      background: var(--color-info);
      color: var(--color-info-content);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.5);
      }
    }
  }
}

:where(.btn-success) {
  border-color: color-mix(in hsl, var(--color-success), black 15%);
  background-color: var(--color-success);
  color: var(--color-success-content);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.5);
  }

  &:focus-visible {
    outline: 2px solid var(--color-success);
  }

  &.btn-outline {
    background-color: color-mix(in hsl, var(--color-success), transparent 85%);
    color: var(--color-success);
    border-color: var(--color-success);
    &::before {
      border-color: color-mix(in hsl, var(--color-success), transparent 50%);
    }
    &:focus-visible {
      background-color: var(--color-success);
      color: var(--color-success-content);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.5);
      }
    }
  }
}

:where(.btn-warning) {
  border-color: color-mix(in hsl, var(--color-warning), black 15%);
  background-color: var(--color-warning);
  color: var(--color-warning-content);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.4);
  }

  &:focus-visible {
    outline: 2px solid var(--color-warning);
  }

  &.btn-outline {
    background-color: color-mix(in hsl, var(--color-warning), transparent 85%);
    color: var(--color-warning);
    border-color: var(--color-warning);
    &::before {
      border-color: color-mix(in hsl, var(--color-warning), transparent 50%);
    }
    &:focus-visible {
      background-color: var(--color-warning);
      color: var(--color-warning-content);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.4);
      }
    }
  }
}

:where(.btn-error) {
  border-color: color-mix(in hsl, var(--color-error), black 15%);
  background-color: var(--color-error);
  color: var(--color-error-content);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.3);
  }

  &:focus-visible {
    outline: 2px solid var(--color-error);
  }

  &.btn-outline {
    background-color: color-mix(in hsl, var(--color-error), transparent 85%);
    color: var(--color-error);
    border-color: var(--color-error);
    &::before {
      border-color: color-mix(in hsl, var(--color-error), transparent 50%);
    }
    &:focus-visible {
      background-color: var(--color-error);
      color: var(--color-error-content);

      &::before {
        border-color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}

:where(.btn-ghost) {
  box-shadow: none;

  &::before {
    border-color: hsla(0, 0%, 100%, 0.3);
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral);
  }

  &:hover {
    background-color: var(--color-neutral);
  }
}

:where(.kbd) {
  --box-shadow: 0px 0px 0px 2px var(--color-base-100),
    0px 4px 0px 2px var(--color-base-100);

  @apply mx-1;
  display: inline;
  background-color: var(--color-neutral);
  box-shadow: var(--box-shadow);

  &::before {
    border-color: hsla(0, 0%, 100%, 0.3);
    @apply top-0.5 left-0.5;
  }
}
