@import url(https://fonts.bunny.net/css?family=basic:400);
@import "./buttons.css";
@import "./toggle.css";
@import "./navbar.css";
@import "./avatar.css";
@import "./dropdown-menu.css";
@import "./expand.css";

@import "tailwindcss";

:root,
html[data-theme="dark"] {
  /* Colors for backgrounds */
  --color-base-400: oklch(0.35 0 0);
  --color-base-300: oklch(0.3 0 0);
  --color-base-200: oklch(0.25 0 0);
  --color-base-100: oklch(0.2 0 0);

  /* Main colors */
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(0.9 0 0);
  --color-primary: oklch(0.51 0.1957 270.34);
  --color-primary-content: oklch(0.9 0 0);
  --color-secondary: oklch(0.52 0.2389 311.53);
  --color-secondary-content: oklch(0.9 0 0);
  --color-accent: oklch(76.459% 0.15619 165.333);
  --color-accent-content: color-mix(in oklab, var(--color-accent), black 50%);
  --color-info: oklch(0.79 0.1246 194.73);
  --color-info-content: color-mix(in oklab, var(--color-info), black 50%);
  --color-success: oklch(0.79 0.2318 146.62);
  --color-success-content: color-mix(in oklab, var(--color-success), black 54%);
  --color-warning: oklch(0.79 0.1591 72.06);
  --color-warning-content: color-mix(in oklab, var(--color-warning), black 60%);
  --color-error: oklch(0.54 0.1987 22.8);
  --color-error-content: color-mix(in oklab, var(--color-error), black 65%);

  --transition-speed: 0.25s;
  --transition-speed-fast: 0.125s;
  --btn-scale-down-onclick: 0.98;
}

body {
  background-color: var(--color-base-200);
  font-family: "Basic", sans-serif;
  color: var(--color-neutral-content);
}

.bg-base-100 {
  background-color: var(--color-base-100);
}

.bg-base-200 {
  background-color: var(--color-base-200);
}

.bg-base-300 {
  background-color: var(--color-base-300);
}

.bg-base-400 {
  background-color: var(--color-base-400);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-info {
  background-color: var(--color-info);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-error {
  background-color: var(--color-error);
}

.bg-neutral {
  background-color: var(--color-neutral);
}

.color-neutral {
  color: var(--color-neutral);
}

.color-neutral-content {
  color: var(--color-neutral-content);
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-content {
  color: var(--color-primary-content);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-secondary-content {
  color: var(--color-secondary-content);
}

.color-accent {
  color: var(--color-accent);
}

.color-accent-content {
  color: var(--color-accent-content);
}

.color-info {
  color: var(--color-info);
}

.color-info-content {
  color: var(--color-info-content);
}

.color-success {
  color: var(--color-success);
}

.color-success-content {
  color: var(--color-success-content);
}

.color-warning {
  color: var(--color-warning);
}

.color-warning-content {
  color: var(--color-warning-content);
}

.color-error {
  color: var(--color-error);
}

.color-error-content {
  color: var(--color-error-content);
}

:where(h1, h2, h3, h4, h5, h6, p) {
  @apply text-white;
}

:where(a p) {
  @apply text-sm;
}

:where(h6) {
  @apply text-xs;
}

:where(h5) {
  @apply text-sm;
}

:where(h4) {
  @apply text-lg;
}

:where(h3) {
  @apply text-2xl;
}

:where(h2) {
  @apply text-4xl;
}

:where(h1) {
  @apply text-5xl;
}

button {
  @apply cursor-pointer;
}
